.body{
    box-sizing: border-box;
    font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  margin: 0;
  overflow-x: hidden;
  font-family: 'Quicksand', sans-serif;
  padding-bottom: 0px;
  background-color: #f2f4f8;
  height: 100%;
}

.container{
    box-sizing: border-box;
    height: 100%;
    width: 100%;
  padding-right: var(--bs-gutter-x,.75rem);
  padding-left: var(--bs-gutter-x,.75rem);
  margin-right: auto;
  margin-left: auto;
}

.align{
    box-sizing: border-box;
    height: 100%;
    align-items: center !important;
    --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x)/ -2);
  margin-left: calc(var(--bs-gutter-x)/ -2);

}

.bg{
    background-color: hsl(218, 41%, 15%);
  background-image: radial-gradient(650px circle at 0% 0%, hsl(218, 41%, 35%) 15%, hsl(218, 41%, 30%) 35%, hsl(218, 41%, 20%) 75%, hsl(218, 41%, 19%) 80%, transparent 100%), radial-gradient(1250px circle at 100% 100%, hsl(218, 41%, 45%) 15%, hsl(218, 41%, 30%) 35%, hsl(218, 41%, 20%) 75%, hsl(218, 41%, 19%) 80%, transparent 100%);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  height: 100vh;
  overflow: hidden !important;
}

.container1{
    text-align: left !important;    
    padding-right: 3rem !important;
    padding-left: 3rem !important;
    padding-top: 3rem !important;
  padding-bottom: 3rem !important;
  max-width: 1320px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.container2{
    height: 100%;
    margin-bottom: 3rem !important;
    align-items: center !important;
    --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x)/ -2);
  margin-left: calc(var(--bs-gutter-x)/ -2);
}

.text1{
    flex: 0 0 auto;
    width: 58.3333333333%;
    margin-bottom: 3rem !important;
    max-width: 100%;
  padding-right: calc(var(--bs-gutter-x)/ 2);
  padding-left: calc(var(--bs-gutter-x)/ 2);
  margin-top: var(--bs-gutter-y);
}

.h1{
    color: hsl(218, 81%, 95%);
    font-weight: 700 !important;
    margin-top: 3rem !important;
  margin-bottom: 3rem !important;
  font-size: 3rem;
  line-height: 1.2;
}

.h11{
    color: hsl(218, 81%, 75%);
}

.p{
    color: hsl(218, 81%, 85%);
    margin-bottom: 1.5rem !important;
    margin-top: 0;
}

.boxContainer{
    margin-bottom: 0 !important;
    position: relative !important;
    flex: 0 0 auto;
    width: 41.6666666667%;
}

.shape1{
    height: 220px;
  width: 220px;
  top: -60px;
  left: -130px;
  background: radial-gradient(#44006b, #ad1fff);
  overflow: hidden;
  border-radius: 50% !important;
  position: absolute !important;
}

.shape2{

}

/* className={styles.} */